   @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

   *,
   *::before *::after {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }

   body {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       overflow: hidden;
       font-family: 'Overpass', sans-serif;
       font-size: 0.9rem;
       background-color: hsl(216, 12%, 8%);
       color: hsl(216, 12%, 54%);
       line-height: 21px;
   }

   #rating-panel {
       display: flex;
       flex-direction: column;
       background-color: hsl(213, 19%, 18%);
       min-height: 300px;
       width: 285px;
       border-radius: 25px;
       padding: 30px 30px;
   }

   #rating-state {
       display: contents;
   }

   #rating-state h1 {
       color: white;
       margin-top: 30px;
       margin-bottom: 0;
   }

   .circle {
       appearance: none;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: hsl(212, 18%, 20%);
       width: 46px;
       height: 46px;
       border-radius: 40px;
       margin: 0;
       padding: 0;
   }

   #star {
       height: 12px;
       width: 12px;
   }

   #ratings {
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px;
       text-align: center;
   }

   label {
       position: relative;
       color: white;
       transform: translate(23px, 13.5px);
       z-index: 1;
       cursor: pointer;
   }

   label {
       cursor: pointer;
   }

   input[type="radio"] {
       position: relative;
       display: inline-block;
       transform: translate(-5px, 0px);
       transition: all 0.3s;
   }

   input[type="radio"]:hover {
       color: white;
       background-color: hsl(217, 12%, 63%);
       cursor: pointer;
   }

   input[type="radio"]:checked {
       background-color: hsl(25, 97%, 53%);
   }

   #submit {
       width: 100%;
       height: 40px;
       background-color: hsl(25, 97%, 53%);
       color: white;
       border-radius: 20px;
       border: none;
       text-transform: uppercase;
       letter-spacing: 2px;
       cursor: pointer;
       transition: all 0.3s;
   }

   #submit:hover {
       background-color: white;
       color: hsl(25, 97%, 53%);
   }

   #thank-you-state {
       display: none;
       height: 100%;
       flex-direction: column;
       align-items: center;
       text-align: center;
       justify-content: space-between;
   }

   #left-arrow {
       align-self: baseline;
       margin-bottom: 10px;
       transition: all 0.3s;
   }

   #left-arrow:hover {
       cursor: pointer;
       color: #fb7413;
       scale: 1.1;
   }

   #thank-you-image {
       width: 140px;
       margin-top: 20px;
   }

   #thank-you-state h2 {
       margin: 0;
   }

   #average-rating {
       display: flex;
       gap: 10px;
       padding: 28px 0 16px 0;
   }

   #rating-text {
       color: hsl(25, 97%, 53%);
       background-color: hsl(215, 15%, 23%);
       padding: 10px 18px 7px 18px;
       border-radius: 50px;
       margin: 25px 0 30px 0;
   }

   #thank-you-message {
       margin-bottom: 0;
   }

   #thank-you-state h1 {
       color: white;
       margin: 0;
   }
